<html>
    <head>
        <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/bfvuz6tShG5aoZp4K4zPVf5t/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-pMn/at+iAgl0PpX8A+ccr7iPPScp0lIFsRTiC6EkDFtJ3fTeFBeJkP7nZJTcbD5h"></script><script data-ad-client="ca-pub-2774789855340098" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
        <meta name="language" content="English">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content="ShitPage">
        <meta property="og:color" content="#4B8EA2">
        <meta name="theme-color" content="#4B8EA2">
        <meta name="msapplication-TileColor" content="#4B8EA2">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://shitpage.ml">
        <meta property="og:image" content="./images/logo.png">
        <meta property="og:description" content="description">
        <meta name="description" content="description">
        <link id="icon" rel="icon" type="image/png" href="./images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <title id="title">ShitPage</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="./main.css">
    </head>
    <body>

    </body>
</html>